.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

.dropdown-toggle {
  background-color: #fff;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropdown-toggle,
.dropdown-menu li {
  display: flex;
  justify-content: space-between;
  padding: 20px 12px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 9999;
}
.dropdown-toggle {
  width: 100%;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  &--open {
    border-radius: 10px 10px 0 0;
  }
}
.dropdown-text {
  display: flex;
  gap: 10px;
}

.dropdown-menu li {
  transition: 0.3s all;
  position: relative;
  z-index: 1;
  background: rgba(255, 255, 255, 0.05);
  font-size: 16px;
  cursor: pointer;
}

.dropdown-menu li:nth-last-child(1) {
  border-radius: 0 0 10px 10px;
  p:nth-last-child(1) {
    border: none;
  }
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.dropdown-price {
  opacity: 0.5;
}

.dropdown-menu li:hover {
  opacity: 0.7;
}

.dropdown-menu li {
  &.dropdown-active {
    display: none;
  }
}
