.details-container {
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  width: 100%;
  padding: 50px;
  margin: 30px 100px 0 100px;
  background: #0f141c;
}

.details-title {
  margin-bottom: 25px;
}

.options-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}

.order-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
}

.number-text {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.5);
}
.details-mobile-container {
  margin-bottom: 20px;
  display: none;
}
.details-mobile-container-services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.details-container {
  margin-bottom: 20px;
}
