@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
}
::-webkit-scrollbar {
  display: none;
}
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0b1016;
  color: #fff;
  font-size: 18px;
}
a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}
input {
  border: 0;
  padding: 6px 4px 4px 15px;
  border: 0;
  outline: none;
  color: white;
  font-weight: 300;
}
ul {
  list-style-type: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn {
  font-size: 18px;
  width: fit-content;
  padding: 10px 15px;
  cursor: pointer;
  background-color: transparent;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  transition: all 0.3s;

  &:hover {
    background-color: #1875ff;
    border: 3px solid rgba(255, 255, 255, 0);
  }
  &--order {
    padding: 15px 20px;
    font-size: 15px;
  }
}

.container {
  margin: 150px;
  margin-top: 100px;
}

button {
  border: 0;
  color: white;
}
.bg-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  text-align: center;
  padding: 5px;
}
.main-text {
  h2 {
    font-weight: 600;
    font-size: 35px;
  }
  p {
    font-weight: 400;
    font-size: 15px;
    opacity: 50%;
    margin: 20px 0 20px 0;
  }
  .mac-p {
    margin-top: 15px;
  }
}

.sub-title {
  font-weight: 600;
  font-size: 25px;
}

.main-container {
  position: relative;
  z-index: 10;
  overflow: hidden;
}
.bottom-buttons {
  display: flex;
  justify-content: end;
}

.page-title {
  font-size: 25px;
}

@media screen and (min-width: 1800px) {
  .main-text p,
  .nav-link,
  .btn {
    font-size: 25px;
  }
  .main-text h2 {
    font-size: 50px;
  }
  .sub-title {
    font-size: 30px;
  }
  .advantage-desc {
    font-size: 18px;
  }
  .advantage-title {
    font-size: 20px;
  }
  .advantage-img {
    width: 50px;
    height: 50px;
  }
  .advantage-container {
    gap: 10px;
  }
  .payment-desc {
    font-size: 20px;
    margin-top: 20px;
  }
  .page-title {
    font-size: 30px;
  }
  .accordion-header h2 {
    font-size: 22px;
  }
  .accordion-content {
    font-size: 18px;
  }
  .service-text {
    font-size: 20px;
  }
  .service-title {
    font-size: 25px;
  }
  .choice-menu-option,
  .dropdown-text,
  .dropdown-label,
  .link-input,
  .checkout-input,
  .point-title {
    font-size: 20px;
  }
  .number-text {
    font-size: 20px;
  }
  .choice-img-menu-option {
    gap: 15px;
  }
  .choice-menu-option {
    padding: 20px;
  }
  .choice-img-menu-text {
    font-size: 20px;
  }
  .choice-img-menu-img {
    width: 30px;
    height: 30px;
  }
  .point-desc {
    font-size: 16px;
  }
  .form-title {
    font-size: 25px;
  }
  .form-input {
    font-size: 18px;
  }
  input {
    padding: 10px 6px 6px 17px;
  }
  .rules {
    font-size: 15px;
  }
  .btn-form {
    font-size: 14px;
  }
  .form-input-container {
    gap: 15px;
  }
  .rules {
    margin: 10px 0;
  }
}

@media screen and (max-width: 1300px) {
  .details-mobile-container {
    display: block;
  }
  .services-container {
    display: none;
  }
  .services-page-container {
    margin: 0;
  }
  .details-title {
    display: none;
  }
}

@media screen and (min-width: 1029px) {
  .main-text {
    max-width: 40%;
  }
  .logo {
    width: 15vw;
  }
}

@media screen and (max-width: 1029px) {
  .logo {
    width: 15vw;
  }
}

@media screen and (max-width: 1024px) {
  .accordion-header {
    font-size: 10px;
  }
  .btn {
    font-size: 14px;
  }
  .main-text h2 {
    font-weight: 600;
    font-size: 30px;
  }
  .sub-title {
    font-size: 20px;
  }

  .nav-link {
    font-size: 18px;
    padding: 10px;
  }
  .advantage-title {
    font-size: 14px;
  }
  .container {
    margin: 100px;
  }
  .main-text p {
    font-size: 12px;
  }
  .advantage-container {
    padding: 15px;
  }

  .method-container {
    width: 35px;
    height: 35px;
  }
  .payment-container {
    flex-direction: column;
  }
  .payment-text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .payment-methods-container {
    grid-template-columns: repeat(5, 1fr);
    justify-items: start;
  }
  .advantages-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .bottom-buttons {
    font-size: 18px;
  }
  .about-container {
    margin: 50px;
  }
  .front-content img {
    width: 100%;
  }
}

@media screen and (max-width: 1029px) {
  .options-container {
    grid-template-columns: 1fr;
  }

  .details-container {
    margin: 30px 50px 0;
  }
}

@media screen and (max-width: 768px) {
  .btn {
    font-size: 14px;
  }
  .rules {
    font-size: 10px;
  }
  .logo {
    width: 20vw;
  }
  .main-text h2 {
    font-weight: 600;
    font-size: 23px;
  }

  .sub-title {
    font-size: 18px;
  }

  .advantage-container {
    justify-content: start;
    gap: 10px;
  }

  .advantage-title {
    font-size: 15px;
  }
  .advantage-desc {
    font-size: 13px;
  }

  .navigation-pages,
  .nav-btn {
    display: none;
  }

  .burger-container {
    display: block;
  }
  .main-text p {
    margin: 15px 0px;
  }
  .main-text {
    max-width: 50%;
  }

  .main-text .mac-p {
    margin-top: 5px;
  }

  .front-content {
    margin-top: 50px;
  }
  .payment-methods-container {
    grid-template-columns: repeat(4, 1fr);
  }
  .contacts-content-container {
    padding: 50px;
  }
  .details-mobile-container-services {
    grid-template-columns: repeat(2, 1fr);
  }
  .checkout-container {
    padding: 25px;
    margin: 0 20px;
  }
}

@media screen and (max-width: 600px) {
  .front-content {
    display: block;
    img {
      margin-top: 20px;
      width: 100%;
    }
  }
  .main-text {
    width: 100%;
  }

  .front-img-container {
    width: 100%;
  }
  .main-text {
    max-width: 100%;
    h2 {
      font-weight: 600;
      font-size: 22px;
    }
  }
  .mac-container {
    flex-direction: column-reverse;
    .mac-img-container {
      margin-top: 20px;
      width: 100%;
      .mac-img-star,
      .mac-img-tick,
      .mac-img-user {
        width: 20vw;
      }
    }
  }
  .menu--right {
    margin-right: 0;
  }
  .checkout-input {
    width: 80%;
  }
  .container {
    margin: 50px;
  }
}

@media screen and (max-width: 500px) {
  .advantages-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .method-container {
    width: 30px;
    height: 30px;
    border-radius: 20px;
  }
  .front-content {
    margin-top: 10vw;
  }
}

@media screen and (max-width: 414px) {
  .main-text p {
    font-size: 12px;
    margin: 5px 0px;
  }
  .logo {
    width: 30vw;
  }

  .advantage-img {
    border-radius: 10px;
    width: 15px;
    height: 15px;
  }
  .front-content {
    margin-top: 40px;
  }
  .mac-image {
    margin-right: 20px;
  }

  .btn {
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
  .advantage-title {
    font-size: 12px;
  }

  .advantages-container {
    margin-top: 20px;
  }
  .sub-title {
    font-size: 18px;
  }
  .advantage-container {
    gap: 3px;
  }

  .advantage-container {
    padding: 12px 15px;
    justify-content: start;
    gap: 7px;
  }
  .method-container {
    width: 25px;
    height: 25px;
    padding: 10px;
    border-radius: 15px;
  }
  .payment-methods-container {
    margin-top: 20px;
  }

  .navigation-pages {
    display: none;
  }
  .nav-btn {
    display: none;
  }

  .advantage-title,
  .advantage-desc {
    font-size: 13px;
  }
  .method-container {
    width: 30px;
    height: 30px;
  }
  .details-container {
    margin: 0 20px 20px;
    width: 80%;
    padding: 20px;
  }
  .checkout-container {
    top: 5%;
    left: 0;
    transform: none;
    width: auto;
  }
}

@import url("./styles/front.scss");
@import url("./styles/mac.scss");
@import url("./styles/advantages.scss");
@import url("./styles/payment.scss");
@import url("./styles/background.scss");
@import url("./styles/form.scss");
@import url("./styles/contacts.scss");
@import url("./styles/faq.scss");
@import url("./styles/accordion.scss");
@import url("./styles/burger.scss");
@import url("./styles/about.scss");
@import url("./styles/services.scss");
@import url("./styles/details.scss");
@import url("./styles/components/choiceMenu.scss");
@import url("./styles/components/dropdown.scss");
@import url("./styles/components/info.scss");
@import url("./styles/components/clickInput.scss");
@import url("./styles/checkout.scss");
@import url("./styles/logs.scss");
